body
{
    color: rgb(165, 42, 42);
    text-align: center;
    font-family: Courier;
}
#container
{
 border: solid black;
}

h1
{
    color: green;
}

#cabecera
{
    background-color: blue;
    color: aliceblue;
    
}